.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: "Quicksand", sans-serif;

  aspect-ratio: 1;
  min-height: 100px;
  padding: 1.8rem 1rem 0.7rem;
  border: 2px solid var(--paper-bg);
  background-color: var(--paper-bg);
  border-radius: 2px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
  transform: rotate(var(--rotation));
  transition: transform 0.3s;

  position: relative;
}
.message-cursor {
  cursor: pointer;
}

.message:hover {
  transform: rotate(var(--hover-rotation));
}
.message--small {
  width: 140px;
  font-size: 0.9rem;
}

.message--large {
  width: 100%;
  font-size: 1.3rem;
}

.message.deleting {
  animation: crumple 0.8s forwards;
}

@keyframes crumple {
  0% {
    transform: scale(1) rotate(var(--rotation));
    opacity: 1;
  }
  30% {
    transform: scale(0.9) rotate(calc(var(--rotation) + 15deg));
  }
  60% {
    transform: scale(0.6) rotate(calc(var(--rotation) - 10deg));
    opacity: 0.8;
  }
  100% {
    transform: scale(0) rotate(var(--rotation));
    opacity: 0;
  }
}

.message__content {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
.message__text {
  text-align: left;
}

.message__meta {
  margin-top: auto;
  text-align: right;
}
.message__author {
  font-style: italic;
}

.message__date {
  font-size: 0.7rem;
}

.message__textarea {
  width: 100%;
  height: 90%;
  background: none;
  border: none;
  overflow: auto;
  resize: none;
  white-space: pre-wrap;
  font-family: inherit;
  font-size: 1.3rem;
}

.message--highlight {
  background-color: #fff2a8;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 1.5rem;
  width: 70%;
}

.message__form-error {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  right: 0;
  top: -40%;
  width: 100px;
  font-size: 0.7rem;
  font-family: var(--font-fun);
  padding: 1rem 0.5rem 0.5rem;
}
.message__form-error .message__content,
.message--highlight .message__content {
  justify-content: center;
}
.message__form-error .message__text,
.message--highlight .message__text {
  text-align: center;
}

.pin {
  width: 30px; /* storlek på cirkeln */
  height: 30px;
  position: absolute;
  top: -12px; /* justera så den sitter över meddelandet */
  left: 50%;
  transform: translateX(-50%);
  filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.3));
}
