.logout-button {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: var(--main-red-color);
  border: none;
  aspect-ratio: 1;
  border-radius: 5px;
  width: 2rem;

  cursor: pointer;
}

.logout-icon {
  color: var(--light-font-color);
  font-size: 1rem;
}
