.ocean-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--main-bg-color); /* himmelblå bakgrund */

  display: flex;
  justify-content: center; /* centrera innehållet horisontellt */
  align-items: center;
}

.ocean-blue {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem; /* behåll samma */
  background-color: #02b3ff;
  z-index: 1;
}

.ocean-image {
  position: absolute;

  width: 100%;
  height: auto;
  animation: wave 3s ease-in-out infinite alternate;
}

.ocean-image--back {
  z-index: 1;
  bottom: 50px;
  animation: wave 3s ease-in-out infinite alternate;
}
.ocean-image--front {
  z-index: 3;
  bottom: 0;
  animation: wave 4s ease-in-out infinite alternate;
}

.boat {
  z-index: 2;
  position: absolute;
  left: 50%;
  bottom: 60px;
  transform: translateX(-50%) translateY(0);
  transition: transform 2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.boat-final {
  transform: translateX(-50%) translateY(calc(-50vh + 60px));
}

.boat-image {
  width: 100px;
  transform-origin: center center;
  transform: scale(1) rotate(-10deg);
  animation: boatBob 2s ease-in-out infinite alternate;
  transition: transform 2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.boat-final .boat-image {
  animation: boatBobFinal 2s ease-in-out forwards;
  transform: scale(1.3) rotate(0deg);
}

.app-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 4rem;
  color: white;
  opacity: 0;
  transition: opacity 2s ease-in-out 1s;
  z-index: 5; /* ovanpå båten och havet */
}
.app-title--visible {
  opacity: 1;
}

.app-subtitle {
  position: absolute;
  width: 100%;
  top: 62%; /* lite under huvudtiteln */
  left: 50%;
  transform: translateX(-50%);
  font-size: 1rem;
  text-align: center;
  font-family: "Fuzzy Bubbles", sans-serif;
  color: white;
  opacity: 0;
  transition: opacity 2s ease-in-out 2s; /* delay 2s efter huvudtitel */
  z-index: 5;
}

.app-subtitle--visible {
  opacity: 1;
}
/*---------- Våganimation för blå havet-----------*/
@keyframes wave {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

/* ------------------Båt guppar lite i havet -------------*/
@keyframes boatBob {
  0% {
    transform: scale(1) rotate(-10deg) translateY(0);
  }
  50% {
    transform: scale(1) rotate(-10deg) translateY(-10px);
  }
  100% {
    transform: scale(1) rotate(-10deg) translateY(0);
  }
}

/* --------Mjuk övergång vid boat final när båten stiger upp ur havet--------*/
@keyframes boatBobFinal {
  0% {
    transform: scale(1) rotate(-10deg) translateY(0);
  }
  50% {
    transform: scale(1) rotate(-5deg) translateY(-5px);
  }
  100% {
    transform: scale(1.2) rotate(0deg) translateY(0);
  }
}
