.ocean-image {
  position: absolute;
  width: 100%;
  height: auto;
  animation: wave 3s ease-in-out infinite alternate;
}

.ocean-image--back {
  z-index: 1;
  bottom: 50px;
  animation: wave 3s ease-in-out infinite alternate;
}
.ocean-image--front {
  z-index: 3;
  bottom: 0;
  animation: wave 4s ease-in-out infinite alternate;
}

.ocean-image--bottom {
  position: absolute;
  bottom: 0;
}

/*---------- Våganimation för blå havet-----------*/
@keyframes wave {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
