@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --pin-color: #d53838;
  --main-bg-color: #19274a;
  --error-color: #00b2ff;
  --light-font-color: #fff;
  --dark-font-color: #000;
}
body {
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page {
  height: 100vh;
  width: 80vw;
  position: relative;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1rem;
  text-align: center;
  position: relative;
}
.form__title {
  color: var(--light-font-color);
}

.form__label {
  width: 100%;
}

.form__input {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 4px;
}

.form__error {
  color: var(--error-color);
  position: absolute;
  bottom: -30px;
}
