.segment-paper {
  /* avstånd från toppen */
  /* left: 50%;
  transform: translateX(-50%); */
  z-index: 100; /* ovanpå allt annat */
  display: flex;
  width: 100%;
  max-width: 300px;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  margin: 0 auto 0;

  position: relative;
  /* position: sticky;
  display: flex;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  /* background-color: var(--pin-color) / var(--pin-opacity); */
  /*border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  overflow: hidden; */
}

.segment-btn {
  flex: 1;
  padding: 12px 0;
  border: none;
  background: none;
  cursor: pointer;
  font-weight: bold;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  position: relative;
  color: var(--light-font-color);
}

.segment-btn span {
  pointer-events: none;
}

.slider {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  background: var(--pin-color);
  transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55); /* “springy” flip effect */
  z-index: 1;
}

.slider.left {
  transform: translateX(0%);
}

.slider.right {
  transform: translateX(100%);
}

.user-icon {
  font-size: 1.2rem;
}
