.segment-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}
.segment-paper {
  z-index: 100;
  display: flex;
  width: 100%;
  max-width: 300px;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  margin: 0 auto 0;

  position: relative;
}

.segment-btn {
  flex: 1;
  padding: 12px 0;
  border: none;
  background: none;
  cursor: pointer;
  font-weight: bold;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  position: relative;
  color: var(--light-font-color);
}

.segment-btn span {
  pointer-events: none;
}

.slider {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  background: var(--main-red-color);
  transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  z-index: 1;
}

.slider.left {
  transform: translateX(0%);
}

.slider.right {
  transform: translateX(100%);
}

.user-icon {
  font-size: 1.2rem;
}

.sort-button-container {
  display: flex;
  justify-content: center;
}
